
<div class="m-3">
  <h1 class="m-2">OneInc: Long Running Text Encode</h1>
  <form class="w-25 mt-4">

    <div class="form-group m-2">
      <input type="text" class="form-control"  aria-describedby="textHint" placeholder="Enter text">
      <small id="textHint"  class="form-text text-muted">Enter text and press submit to encode</small>
    </div>
    <div class="mt-2">
      <button type="submit" class="btn btn-primary m-2">Submit</button>
      <button type="button" class="btn btn-danger m-2">Cancel</button>
    </div>
  </form>
</div>
